html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #274046;
}

body {
    display: table;
}

.mainDiv {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 32px;
}

#listing{
    font-size: 20px; 
    text-decoration: none;
}

#projects{
	font-size: 20px;
	text-decoration: none;
}

a{
    text-decoration: none;
    color:#fff;
}

a:hover{
    color: #FF4136;
    text-decoration: none;
}

.redColor{
	color: #FF4136;
}

#showSkypeEmail{
	font-size: 16px;
}